.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

.form {
  position: absolute;
  background-color: #00d27f;
  min-height: 100px;
  width: 300px;
  display: block;
  opacity: 0.8;
  justify-content: center;
  margin-top: 300px; }

.label {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1px; }
  .label label {
    text-align: center;
    border: 1px solid orange;
    width: 100%;
    margin: 1px;
    margin-bottom: -1px;
    padding: 10px 20px; }

.sign {
  display: block;
  margin: 2px;
  margin-top: 0px;
  border: 1px solid orange;
  border-top: none; }

.tabform {
  padding: 2px;
  display: none; }

.active {
  display: block;
  background-color: #00ff83; }

label.tab.active {
  border-bottom: none; }
