.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: #fff; }

form {
  display: flex;
  flex-direction: column; }

.gender {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3px;
  margin-left: 3px;
  line-height: 20px;
  vertical-align: middle; }
  .gender input {
    margin: 0px 10px;
    margin-top: 5px; }

.gen {
  margin: 0px 3px; }

.form {
  background-color: rgba(102, 178, 178, 0.9); }

input[name="sign"] {
  display: none; }

.tab:hover {
  cursor: pointer; }

.active {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: 3px;
  margin-right: 3px; }

#tab1:cheked ~ #form1,
#tab2:cheked ~ #form2 {
  display: flex; }
